*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    margin-top: 20px;
}
.center{
    max-width: 1100px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
}
.menu-container{
    justify-content: space-between;
}

.menu-container a.active-menu{
    background-color: #ca3838;
}
.menu-container a{
    color: #0e0e0e;
    display: inline-block;
    margin: 0 10px;
    padding: 0px 10px;
    transition: 0.8s;
    line-height: 60px;
    text-decoration: none;
}
.menu-container a:hover{
    color: #ec4141;
}

.main-index{
    min-height: 800px;
    background-image:   url(./man-g51f70c172_1920.jpg);
    background-size: cover;
    background-position: center;
}
section.produtos{
    background-color: #ec4141;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.produto-single{
    
    margin:10px 10px;
    text-align: left;
    width: 100%;

}
.produto-single h3{
    text-align: center;
    background-color: #ad2e2e;
    border: 1px solid white;
    padding: 8px;

}

.produto-single p{
    background-color: white;
    padding: 9px;
    color: black;
}
.produto-single img{
    width: 100%;
    display: block;
}
.produto-container{
    justify-content: space-around;
}
.main-trivia{
    min-height: 800px;
    background-image:   url(./fitness-594143_1920.jpg);
    background-size: cover;
    background-position: center;
}
.trivia {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: auto;
    grid-template-columns: 1fr 1fr 1fr;
   }

.trivia h1{
    line-height: 40px;
   }   
.text-chamada{
    color: white;
    position: absolute;
    padding: 30px 20px;
    margin: 0 10px;
    top: 500px;
}
.text-chamada h1{
    font-size: 60px;
    
}
.text-chamada h3{
    color: #e2e2e2;
    
}
footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 8px;
    color: white;

  }
  ul{
    list-style: none;
  }